<style>
  .clearfix{
    clear:both;
  }
  #tabs{
    margin-bottom: 15px;
    margin-top:15px;
  }
  #tabs a {
    padding: 5px;
  }
  #tabs a.active{
    background: #657b83;
    color: #fff;
  }
  #collections .book{
    /*width: 100%;*/
    /*float: left;*/
    padding-bottom: 10px;
    position: relative;
    clear: both;
    min-height: 170px;
    padding: 10px 0;
    border-bottom: 1px #ddd solid;
  }
  .book .picture{
    position: absolute;
    left: 0;
    top: 10px;
  }
  .book .info{
    padding-left: 120px;
  }
  .book .meta{
    font-size: 12px;
    padding-right: 10px;
  }
  .book .comments{
    font-size: 12px;
  }
  .hide{
    display: none;
  }
  #collections .active{
    display: block;
  }
  @media screen and (max-width:600px) {
    #collections .book{
      width: 100%;
    }
  }
  #refresh{

    color: red;
  }
</style>

<div>
  <blockquote>
      <p><%- quote %></p>
  </blockquote>
</div>

<div id="douban">
    <div id="tabs">
      <a id="reading-tab" href="javascript:show('reading')" target="_blank" rel="external">在读(<%= reading.length %>)</a>
      <a id="wish-tab" href="javascript:show('wish')" target="_blank" rel="external">想读(<%= wish.length %>)</a>
      <a id="read-tab" href="javascript:show('read')" target="_blank" rel="external">已读(<%= read.length %>)</a>
    </div>

    <div id="collections">
      <div id="reading" class="hide">
        <% reading.forEach(function(item){%>
          <% include bookItem.ejs %>
        <% }) %> 
      </div>
      <div class="clearfix"></div>
      <div id="wish" class="hide">
        <% wish.forEach(function(item){%>
          <% include bookItem.ejs %>
        <% }) %> 
      </div>
      <div class="clearfix"></div>
      <div id="read" class="hide">
        <% read.forEach(function(item){%>
          <% include bookItem.ejs %>
        <% }) %> 
      </div>
      <div class="clearfix"></div>
    </div>
</div>

<script>
function show(id){
  document.getElementById('reading').classList.remove('active');
  document.getElementById('read').classList.remove('active');
  document.getElementById('wish').classList.remove('active');
  document.getElementById('reading').classList.add('hide');
  document.getElementById('read').classList.add('hide');
  document.getElementById('wish').classList.add('hide');

  var ele = document.getElementById(id);
  ele.classList.remove('hide');
  ele.classList.add('active');

  document.getElementById('reading-tab').classList.remove('active');
  document.getElementById('read-tab').classList.remove('active');
  document.getElementById('wish-tab').classList.remove('active');
  document.getElementById(id+'-tab').classList.add('active');
  };
 show("reading")
</script>

