<blockquote>
    <p><%- quote; %></p>
</blockquote>

<style>
    <% include index.css %>
</style>

<div class="hexo-douban-tabs">
    <a class="hexo-douban-tab" id="hexo-douban-tab1" href="javascript:;" target="_blank"
       rel="external">想看(<%= wish.length %>)</a>
    <a class="hexo-douban-tab" id="hexo-douban-tab2" href="javascript:;" target="_blank"
       rel="external">已看(<%= watched.length %>)</a>
</div>
<div>
    <div id="hexo-douban-item1">
        <% wish.forEach(function(item){ %>
        <% include movieWish.ejs %>
        <% }); %>
        <% include pagination.ejs %>
    </div>
    <div id="hexo-douban-item2">
        <% watched.forEach(function(item){ %>
        <% include movieWatched.ejs %>
        <% }); %>
        <% include pagination.ejs %>
    </div>
</div>

<script>
    <% include index.js %>
    <% include pagination.js %>
</script>

