<div class="hexo-douban-pagination">
    <a class="hexo-douban-button hexo-douban-firstpage" href="javascript:;"> <%= __('top') %></a>
    <a class="hexo-douban-button hexo-douban-previouspage" href="javascript:;"><%= __('prev') %></a>
    <span class="hexo-douban-pagenum">2 / 3</span>
    <a class="hexo-douban-button hexo-douban-nextpage" href="javascript:;"><%= __('next') %></a>
    <a class="hexo-douban-button hexo-douban-lastpage" href="javascript:;"><%= __('end') %></a>
</div>