<div class="hexo-douban-pagination">
    <a class="hexo-douban-button hexo-douban-firstpage" href="javascript:;">首页</a>
    <a class="hexo-douban-button hexo-douban-previouspage" href="javascript:;">上一页</a>
    <span class="hexo-douban-pagenum">2 / 3</span>
    <a class="hexo-douban-button hexo-douban-nextpage" href="javascript:;">下一页</a>
    <a class="hexo-douban-button hexo-douban-lastpage" href="javascript:;">末页</a>
</div>